body {
    background-color: #D8D8D8;
    padding-bottom: 20px;
    padding-top: 20px;
    
  }
.title {

  background-color: grey;
  padding: 1%;

}

.price-for{

text-align: center;
font-size: 30px;

}

.form{

  text-align: center;
  font-size: 20px;

}


.footer{

  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: grey;
   text-align: center;

}